<h1 style="color:darkred">About Me</h1>
<h4><i style="color:crimson">Name and Surname:</i> @ViewBag.FullName</h4>
<p>Hal hazırda tələbə olan mən Universitetə 565 balla daxil olmuşam.Qrup nümayendesiyem,
    bundan elave 2ci kursdan başlayaraq Universitetin sosial işlərində konüllü olaraq aktiv iştirak edirem.
    Bu cəhətdən mən həm öz 26 nəfərlik qrupumu həmdə ayrı ayrı 70 və 20 nəfərlik qrupları idare edirem.Mənim bu səbəbdən tələbələr və müəllimlərlə işləmə,ünsiyyət bacarığım olduqca inkişaf etmişdir.
    Bir çox Universitet daxili tedbirlərdə təşkilatçı kimi iştirak etmişem.Hal hazırda ixtisasımla əlaqəli olaraq proqramlaşdırma bacarıqlarımı inkişaf etdirməyə çalışıram, həmçinin magistaturayada hazırlaşıram.
    Bakalavr səviyyəsində 2 elmi tezisin müəllifiyəm, 1 tezisim Universitetin jurnalında dərc olunmuşdur.</p>
