
<ul class="list-group">
    <li class="list-group-item disabled" aria-disabled="true"><b style="color:coral">Lankaran State University</b></li>
    <li class="list-group-item">Bachelor: Mathematics and Informatics teacher</li>
    <li class="list-group-item">Bachelor's degree: 92</li>
    <li class="list-group-item">2020-2025</li>
   
</ul>