<h3><b style="color:brown">Skills</b></h3>
<br/>
<ul class="list-group list-group-flush">
    <li class="list-group-item">MS Office programs</li>
    <li class="list-group-item">Graphics editors(AutoCad,CorelDraw)</li>
    <li class="list-group-item">Programing languange(Python)</li>
</ul>
<br/>
<br/>
<h3><b style="color:brown">Languange</b></h3>
<br/>
<h4>English</h4>
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<h4>French</h4>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

