 
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Telebe Gencler Teskilati</h5>
            <small>2021-2024</small>
        </div>
        <p class="mb-1">Fakulte uzre sedr vezifesi</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Telebe Elmi Cemiyyeti</h5>
            <small>2022-2024</small>
        </div>
        <p class="mb-1">Elmi katib vezifesi</p>
     </a>
</div>
   