@using MyCv.Model;
@model ContactMe

<ul class="list-group list-group-flush">
    <li class="list-group-item"><i style="color:blue">Number:</i> @Model.Number</li>
    <li class="list-group-item"><i style="color:blue">Email:</i> @Model.Email</li>
    <li class="list-group-item"><i style="color:blue">Address:</i> @Model.Address</li>
</ul>
